@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 54 33% 95%; /* #F2F1E6 */
    --foreground: 240 10% 3.9%;
    --card: 54 33% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 54 33% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 81 60% 59%; /* #A3D957 */
    --primary-foreground: 240 10% 3.9%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 25 75% 54%; /* #E07A33 */
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 81 60% 59%;
    --chart-1: 81 60% 59%;
    --chart-2: 25 75% 54%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 54 20% 92%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 81 60% 59%;
    --sidebar-primary-foreground: 240 10% 3.9%;
    --sidebar-accent: 54 20% 88%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 86%;
    --sidebar-ring: 81 60% 59%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 60 9.1% 97.8%;
    --card: 240 10% 3.9%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 81 60% 59%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 25 75% 54%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 81 60% 59%;
    --chart-1: 81 60% 59%;
    --chart-2: 25 75% 54%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 81 60% 59%;
    --sidebar-primary-foreground: 240 10% 3.9%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 81 60% 59%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}